@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Josefin Sans',
        sans-serif, Arial, Helvetica;
    color: #dfdfdf;
}

body {
    font-size: 100%;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #003D31;
}

footer {
    background-color: #003D31;
    display: flex;
    width: 100%;
    height: 60px;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 3em;
}

h2 {
    font-size: 2em;
}

h3 {
    font-size: 1.3em;
}

h4 {
    font-size: 1.1em;
}

p {
    font-size: 1em;
    text-align: justify;
    text-justify: inter-word;
}

video {
    width: 100%;
}

.icon img {
    width: 50px;
    height: 50px;
    padding: 10px;
    background-color: #003D31;
    position: absolute;
    top: 0%;
    left: 0%;
}

.icon a {
    width: 60px;
    height: 60px;
    position: absolute;
    top: 0%;
    left: 0%;
}

#menyKnapp {
    /* display: none; */
    position: absolute;
    right: 0%;
    top: 35%;
    padding-right: 10px;
}

#heading {
    display: flex;
    justify-content: center;
    flex-direction: row;
    height: 60px;
    width: 100%;
    align-items: center;
    background-color: #003D31;
}

nav {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #003D31;
    width: 100%;
    height: 60px;
}


nav a {
    font-size: 1.5em;
    text-decoration: none;
    padding: 10px;
}

.navBar ul {
    display: flex;
    /* width: 100%; */
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navBar li {
    display: inline;
}

.navBar {
    display: flex;
    justify-content: center;
}

.navBar :hover {
    color: #E06A3F;
}

#container {
    display: flex;
    background-color: #003D31;
    justify-content: center;
    width: 100%;
    height: 60px;
}

#container h2 {
    display: flex;
}

.wrapper {
    display: flex;
    flex-wrap: wrap;
    max-width: 750px;
    justify-content: space-around;
    padding-left: 2%;
    padding-right: 2%;
}

#rum h2 {
    position: absolute;
    text-align: center;
}

.bild {
    width: 100%;
    /* border-radius: 10%; */
    padding: 5%;
}

.hero {
    display: flex;
    width: 100%;
    flex-direction: column;
    background-color: #003D31;
    align-items: center;
}
.hero picture img{
    width: 100%;
}
.hero source {
    width: 100%;
}
.content {
    display: flex;
    flex-direction: column;
    background-color: #003D31;
    text-align: center;
    width: 100%;
    max-width: 750px;
    padding-top: 7%;
    
}

.content h2 {
    display: flex;
    justify-content: center;
}

.content p {
    font-size: 1.3em;
    text-align: justify;
    margin: 5%;
}

.content ul {
    margin: 5%;
}
.titel {
    align-content: center;
    font-size: 4em;
}

.container {
    width: 100%;
    display: flex;
    flex-flow: row;
}

.rum {
    display: flex;
    flex-direction: column;
    justify-items: center;
    margin-top: 5%;
}

.rum2 {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.bildRum {
    width: 50%;
    align-self: center;
    border-radius: 5%;
}

.textContainer {
    flex-direction: column;
    display: flex;
    margin: 2%;
    text-align: left;
    font-size: 1em;
}

.textContainer p {
    font-size: 1em;
}

.textContainer h2 {
    text-align: center;
    font-size: 1.5em;
}

.textContainer ul li {
    margin-left: 10px;
}

/*CSS för kontakt.htm*/
#form {
    display: flex;
    flex-direction: column;
}

#meddelande {
    display: none;
    flex-direction: column;
    align-items: center;
    font-size: 2em;
    border-radius: 10px;
    padding: 10px;
    padding-top: 10%;
    max-width: 750px;
}

#laddaOmBtn {
    cursor: pointer;
    padding: 10px;
    border-radius: 10px;
    background-color: #E06A3F;
    color: #003D31;
    font-size: 1em;
}

#laddaOmBtn:hover {
    background-color: #555;
}

form {

    border-radius: 5px;
    padding-top: 10px;
    font-size: 1.2em;
}

fieldset {
    border-width: 0px;
}

input {
    background-color: #ffffff;
    width: 100%;
    font-size: 1em;
}

input[ type="submit"] {

    width: 25%;
    background-color: #E06A3F;
    color: #003D31;
    cursor: pointer;
    width: 100%;
    border-radius: 5px;
    font-size: 1em;
    font-weight: bold;
}

input[ type="submit"]:hover {
    background-color: #555;
}

select {
    width: 100%;
    padding: 10px 10px;
    /* border-color: #941d1d; */
    border-radius: 4px;
    background-color: #E06A3F;
    font-size: 1em;
    color: #003D31;
    font-weight: bold;
}

option {
    color: #003D31;
    font-weight: bold;
}

option [value=""] {
    color: #003D31;
    background-color: #E06A3F;
}

textarea {
    background-color: #ffffff;
    color: #1b1b1b;
    border-color: #1b1b1b;
    border-radius: 5px;
    width: 100%;
    font-size: 1em;
}

#topBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    border: none;
    outline: none;
    background-color: #E06A3F;
    color: #003D31;
    cursor: pointer;
    padding: 15px;
    border-radius: 10px;
    font-size: 2em;
    font-weight: bold;
}

#topBtn:hover {
    background-color: #555;
}


#menyKnapp {
    /* display: flex; */
    width: 50px;
    align-items: center;
    /* padding-right: 5px; */
}

#heading {
    display: flex;
    justify-content: center;
    flex-direction: row;
    height: 60px;
    width: 100%;
    background-color: #003D31;
}

.navBar {
    display: none;
    font-size: 70%;
    position: absolute;
    top: 40%;
    left: 20%;
    padding: 0;
}

#heading a {
    display: flex;
    flex-direction: row;
}

nav {
    display: flex;
    justify-content: center;
}

nav a {
    display: flex;
    padding: 10px;
    text-align: center;
    font-size: 1.4em;
}

.visible {
    display: flex;
}

.info {
    padding: 1%;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.info p {
    text-align: center;
    font-size: 1.2em;
}

.form {
    padding: 1%;
}



.hero h1 {
    font-size: 2em;
    align-content: center;
    text-align: center;
    /* padding-top: 5%; */
}

.content h2 {
    font-size: 1.5em;
}

.content {
    width: 100%;

}

.container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-flow: column;
    font-size: 1em;
    align-items: center;
}

.textContainer {
    padding-top: 5%;
}

.rum {
    display: flex;

}

.bildRum {
    width: 100%;
    align-self: center;
}

#topBtn {
    display: none;
    position: fixed;
    bottom: 90%;
    right: 30px;
    border: none;
    outline: none;
    background-color: #E06A3F;
    color: #003D31;
    cursor: pointer;
    padding: 15px;
    border-radius: 10px;
    font-size: 18px;
}

#topBtn:hover {
    background-color: #555;
}

@media only screen and (min-width: 768px) {

    section {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    section nav {
        display: flex;
    }

    h1 {
        font-size: 3em;
    }

    .hero h1 {
        display: flex;
        font-size: 3em;
        align-content: center;
        text-align: center;
        /* padding-top: 5%; */
    }

    h2 {
        font-size: 2em;
    }

    h3 {
        font-size: 1.3em;
    }

    h4 {
        font-size: 1.1em;
    }

    p {
        font-size: 1em;
        text-align: justify;
        text-justify: inter-word;
    }



    .icon img {
        width: 120px;
        height: 120px;
        padding: 10px;
        background-color: #003D31;
        position: absolute;
        top: 0%;
        left: 0%;
    }

    .icon a {
        width: 60px;
        height: 60px;
        position: absolute;
        top: 0%;
        left: 0%;
    }

    .navBar {
        position: initial;
        font-size: 100%;
        padding: 0;
        width: 100%;
        justify-content: center;
        align-items: center;
    }

    .hidden img {
        display: none;
    }

    #menyKnapp {
        display: none;
        position: absolute;
        right: 0%;
        top: 35%;
        padding-right: 10px;
    }

    #menyKnapp img {
        display: none;
    }

    #heading {
        display: flex;
        flex-direction: row;
        height: 60px;
        width: 100%;
        align-items: center;
        background-color: #003D31;
    }

    #heading a {
        justify-content: center;
    }

    /* nav {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #003D31;
        width: 100%;
        height: 60px;
    } */

    .navBar :hover {
        color: #E06A3F;
    }

    nav a {
        font-size: 1.5em;
        text-decoration: none;
        padding: 10px;
    }

    .navBar {
        display: flex;

    }

    #container {
        display: flex;
        background-color: #003D31;
        justify-content: center;
        width: 100%;
        height: 60px;
    }

    #container h2 {
        display: flex;
    }

    .wrapper {
        flex-wrap: wrap;
        display: flex;
        max-width: 750px;
        justify-content: space-evenly;
        align-items: center;
        /* margin-top: 5%; */

    }

    .bild {
        width: 31%;
        border-radius: 10%;
        padding: 1%;
    }

    #rum h2 {
        position: absolute;
        text-align: center;
    }


    .content {
        display: flex;
        flex-direction: column;
        background-color: #003D31;
        text-align: center;
        width: 100%;
        max-width: 750px;
        padding-top: 7%;
    }

    .content h2 {
        display: flex;
        justify-content: center;
    }

    .content p {
        font-size: 1.3em;
        justify-content: center;
        text-align: justify;
        text-justify: inter-word;
        margin: 2%;
    }

    .titel {
        /* top: 13%; */
        align-content: center;
        font-size: 4em;
    }

    .container {
        width: 100%;
        display: flex;
        flex-flow: row;
    }

    .rum {
        display: flex;
        flex-direction: column;
        justify-items: center;
        margin-top: 5%;
    }

    .rum2 {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .bildRum {
        width: 50%;
        align-self: center;
        border-radius: 5%;
    }

    .textContainer {
        flex-direction: column;
        display: flex;
        margin: 2%;
        text-align: left;
        font-size: 1em;
    }

    .textContainer p {
        font-size: 1em;
    }

    .textContainer h2 {
        text-align: center;
        font-size: 1.5em;
    }

    .textContainer ul li {
        margin-left: 10px;
    }

    /*CSS för kontakt.htm*/
    #form {
        display: flex;
        flex-direction: column;
    }

    #meddelande {
        display: none;
        flex-direction: column;
        align-items: center;
        /* align-items: top; */
        font-size: 2em;
        border-radius: 10px;
        padding: 10px;
        padding-top: 10%;
        max-width: 750px;
    }

    #laddaOmBtn {
        cursor: pointer;
        padding: 10px;
        border-radius: 10px;
        background-color: #E06A3F;
        color: #003D31;
        font-size: 1em;
    }

    #laddaOmBtn:hover {
        background-color: #555;
    }

    form {

        border-radius: 5px;
        padding-top: 10px;
        font-size: 1.2em;
    }

    fieldset {
        border-width: 0px;
    }

    input {
        background-color: #ffffff;
        width: 100%;
        font-size: 1em;
    }

    input[ type="submit"] {

        width: 25%;
        background-color: #E06A3F;
        color: #003D31;
        cursor: pointer;
        width: 100%;
        border-radius: 5px;
        font-size: 1em;
        font-weight: bold;
    }

    input[ type="submit"]:hover {
        background-color: #555;
    }

    select {
        width: 100%;
        padding: 10px 10px;
        /* border-color: #941d1d; */
        border-radius: 4px;
        background-color: #E06A3F;
        font-size: 1em;
        color: #003D31;
        font-weight: bold;
    }

    option {
        color: #003D31;
        font-weight: bold;
    }

    option [value=""] {
        color: #003D31;
        background-color: #E06A3F;
    }

    textarea {
        background-color: #ffffff;
        color: #1b1b1b;
        border-color: #1b1b1b;
        border-radius: 5px;
        width: 100%;
        font-size: 1em;
    }

    #topBtn {
        display: none;
        position: fixed;
        bottom: 20px;
        right: 30px;
        border: none;
        outline: none;
        background-color: #E06A3F;
        color: #003D31;
        cursor: pointer;
        padding: 15px;
        border-radius: 10px;
        font-size: 2em;
        font-weight: bold;
    }

    #topBtn:hover {
        background-color: #555;
    }
}