@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Josefin Sans',
        sans-serif, Arial, Helvetica;
    color: #dfdfdf;
    /* background-color: #131B42; */
}

body {
    font-size: 100%;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

h1 {
    font-size: 3em;
    /* color: #E06A3F; */
}

h2 {
    font-size: 1.5em;
    /* color: #E06A3F; */
}

h3 {
    font-size: 1.3em;
    /* color: #E06A3F; */
}

h4 {
    font-size: 1.1em;
    /* color: #E06A3F; */
}

p {
    /* color: #E06A3F; */
    font-size: 1em;
    text-align: justify;
}

video {
    width: 100%;
}

.icon img {
    /* max-width: 240px;
    max-height: 240px;
    flex-direction: row; */
    width: 50px;
    height: 50px;
    padding: 5px;
    background-color: #003D31;
}

.icon a {
    width: 60px;
    height: 60px;
}

.meny {
    display: flex;
    justify-content: space-around;
}

img.hidden {
    display: none;
}

.menyKnapp {
    display: none;
}

.visible {
    display: flex;
}

#icon div {
    display: flex;
    height: 60px;
    width: 60px;
}

#heading {
    display: flex;
    flex-direction: row;
    /* justify-content: flex-start;
    justify-content: space-between; */
    height: 60px;
    width: 100%;
}


nav {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #003D31;
    width: 100%;
    height: 60px;

}

.navBar :hover {
    color: #E06A3F;
}

nav a {
    /* color: #E06A3F; */
    font-size: 1.5em;
    /* font-weight: bold; */
    padding: 10px;
    text-decoration: none;
}

.navBar {
    display: flex;
    /* justify-self: flex-start; */
    /* order: -1; */
}

#heroSection {
    display: flex;
    flex-direction: column;
    align-content: center;
    position: relative;
}

#heroSection h1 {
    color: #e6e6e6;
    display: flex;
    justify-content: center;
    position: absolute;
    /* left: 10%; */
    text-align: center;
    top: 11%;
    width: 100%;
    font-size: 4em;
    overflow: hidden;
    /* background-color:#295071; */
}

#underrubrik {
    /* color: #E06A3F; */
    display: flex;
    justify-content: center;


    width: 100%;
    font-size: 2em;
}

#heroSection h2 {
    color: #E06A3F;
    position: absolute;
    display: flex;
    justify-content: left;
    /* left: center; */

    text-align: center;
    top: 15%;
    width: 100%;
    font-size: 2em;
}

#container {
    display: flex;
    background-color: #003D31;
    /* color: #E06A3F; */
    justify-content: center;
    width: 100%;
    height: 60px;
}

#container h2 {
    display: flex;
    /* color: #E06A3F; */
    /* font-size: 3em; */
}

#container2 {
    width: 100%S;
}

.wrapper {
    display: flex;
    position: relative;
    flex-direction: row;
    width: 100%;
    max-width: 750px;
    justify-content: space-around;
    margin-top: 5%;
    /* justify-items: center; */


}

#rum h2 {
    position: absolute;
    text-align: center;
    /* color: #E06A3F; */
}

.bild {
    width: 25%;
    position: relative;
}

.bild2 {
    /* width: 50%; */
    position: relative;
}

.rightArrow {
    position: absolute;
    top: 50%;
    right: 30px;
    width: 20px;


}


footer {
    background-color: #003D31;
    display: flex;
    width: 100%;
    height: 60px;
    justify-content: center;
    align-items: center;
}

footer h4 {
    /* color: #E06A3F; */
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #003D31;
}

.hero {
    position: relative;
    display: flex;
    width: 100%;
    flex-direction: column;
    background-color: #003D31;
    align-items: center;
    /* text-align: center; */
    /* align-items: center; */
    /* text-align: left; */
    /* max-width: 750px; */
}

.content {
    display: flex;
    flex-direction: column;
    background-color: #003D31;
    text-align: left;
    /* align-items: center; */
    width: 100%;
    max-width: 750px;
    /* align-items: center; */
    /* align-content: center; */
}

.content h2 {
    display: flex;
}


.titelStartsida {
    /* color: #e6e6e6; */
    /* color: #E06A3F; */
    position: absolute;
    top: 13%;
    align-content: center;
    font-size: 4em;
}

.titel {
    position: absolute;
    top: 13%;
    align-content: center;
    font-size: 4em;
}


.titel2 {
    /* color: #E06A3F; */
    /* position: absolute; */
    font-size: 1.5em;
}

.container {
    width: 100%;
    display: flex;
    flex-flow: row;

}

.rum {
    display: flex;
    flex-direction: column;
    justify-items: center;
    /* flex-direction: row; */
    /* width: 100%; */
    margin-top: 5%;
    /* width: 100%; */
    /* min-height: 100vh; */
    /* max-width: 100%; */
    /* max-width: 700px; */
    /* justify-content: center; */
}

.rum2 {
    display: flex;
    flex-direction: column;
    width: 100%;

}

.bildRum {
    width: 50%;
    align-self: center;
    border-radius: 5%;
    /* height: 50%; */
    /* flex-direction: row; */
    /* flex-flow: row; */
    /* justify-items: flex-start; */
    /* margin: 10px; */
}

.textContainer {
    flex-direction: column;
    display: flex;
    margin: 2%;
    text-align: left;
    font-size: .9em;


}

.textContainer p {
    /* color: #E06A3F; */
}

.textContainer ul li {
    margin-left: 10px;
    /* color: #E06A3F; */
}

/* .prisContainer {
    display: flex;
    justify-content: center;
} */
/*
CSS för kontakt.htm
*/
#form {
    display: flex;
    flex-direction: column;
}

#meddelande {
    display: none;
    flex-direction: column;
    align-items: center;
    /* align-items: top; */
    font-size: 2em;
    border-radius: 10px;
    padding: 10px;
    max-width: 750px;
}


#laddaOmBtn {
    cursor: pointer;
    padding: 10px;
    border-radius: 10px;
    background-color: #E06A3F;
    color: #003D31;
    font-size: 1em;
}

#laddaOmBtn:hover {
    background-color: #555;
}

form {
    
    border-radius: 5px;
    padding-top: 10px;
    font-size: 1.2em;
}

fieldset {
    border-width: 0px;
}

legend {
    /* color: #E06A3F; */

}

label {
    /* padding: 5px; */
    /* color: #E06A3F; */
}

input {
    background-color: #ffffff;
    width: 100%;
    font-size: 1em;
    /* border-color: #A55C31; */
}

input[ type="submit"] {

    width: 25%;
    background-color: #E06A3F;
    color: #003D31;
    cursor: pointer;
    width: 100%;
    border-radius: 5px;

}
input[ type="submit"]:hover {
background-color: #555;
}
select {
    width: 100%;
    padding: 10px 10px;
    /* border-color: #941d1d; */
    border-radius: 4px;
    background-color: #E06A3F;
    font-size: 1em;
    color: #003D31;
}

option {
    color: #003D31;


}

option [value=""] {
    color: #003D31;
    background-color: #E06A3F;
}

textarea {
    background-color: #ffffff;
    color: #1b1b1b;
    border-color: #1b1b1b;
    border-radius: 5px;
    width: 100%;
    font-size: 1em;
}


#topBtn {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Fixed/sticky position */
    bottom: 20px;
    /* Place the button at the bottom of the page */
    right: 30px;
    /* Place the button 30px from the right */
    z-index: 99;
    /* Make sure it does not overlap */
    border: none;
    /* Remove borders */
    outline: none;
    /* Remove outline */
    background-color: #E06A3F;
    /* Set a background color */
    color: #003D31;
    /* Text color */
    cursor: pointer;
    /* Add a mouse pointer on hover */
    padding: 15px;
    /* Some padding */
    border-radius: 10px;
    /* Rounded corners */
    font-size: 18px;
    /* Increase font size */
}

#topBtn:hover {
    background-color: #555;
    /* Add a dark-grey background on hover */
}


/* Media Query för skärmar mindre än 750 px bredd */
@media screen and (max-width: 750px) {

    .navBar {
        display: none;
        font-size: 60%;
    }

    .menyKnapp {
        display: flex;
        width: 50px;
        align-items: center;
        padding-right: 5px;
    }

    nav {
        display: flex;
        justify-content: flex-end;
    }

    .hidden {
        display: none;
    }

    .visible {
        display: flex;
    }

    .info {
        padding: 1%;
        display: flex;
        flex-direction: column;
    }

    .form {
        padding: 1%;
    }

    .hero {
        position: relative;
        display: flex;
        flex-direction: column;
        background-color: #003D31;
        /* text-align: center; */
        align-items: center;
        width: 100%;
        overflow: hidden;
    }

    .hero h1 {
        font-size: 2em;
    }

    .titelStartsida {
        position: relative;
        padding-top: 10px;
    }

    .content {
        width: 100%;
    }

    .container {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        flex-flow: column;
        font-size: 1em;
        align-items: center;
    }

    .wrapper {
        display: flex;
        position: relative;
        /* flex-direction: column; */
        width: 100%;
        justify-content: space-around;
        margin-top: 5%;
        /* justify-items: center; */


    }

    .rum {
        display: flex;

    }

    .bildRum {
        width: 100%;
        align-self: center;
        /* height: 50%; */
        /* flex-direction: row; */
        /* flex-flow: row; */
        /* justify-items: flex-start; */
        /* margin: 10px; */
    }
}